body{
  background-color: rgb(86, 17, 149);
  display: flex;
  justify-content: center;
}

#texto1{
    width: 80%;
    float: left;
   /* font-family:Verdana, Geneva, Tahoma, sans-serif;*/
    font-size: 200%;
    text-align: justify;
}

#p_texto1{
    text-align: left;
    margin-bottom: 2em;
    margin-left: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
}

#imagen1{
    width: 50%;
    float: left;
    background-color: blueviolet;
    border-radius: 15px;
} 

#separacion{
    clear: both;
}

#texto2{
    width: 75%;
    float: right;
    font-size: 170%;
    text-align: justify;
}

#p_texto2{
    text-align: left;
}

#imagen2{
    width: 25%;
    float: right;
    right: 50px;
}

 
.imagenes{
    border-radius:  15px;
    display: flex;
    justify-content: center;
}

